@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* globals.css or your Tailwind CSS file */
.fc-daygrid-event {
  @apply text-sm text-white bg-blue-600 rounded px-2 py-1;
}
.fc-toolbar-title {
  @apply text-xl font-semibold text-gray-800;
}
